@charset "UTF-8";

.roundedImage, .roundedImageShadow{
	overflow:hidden;
	-webkit-border-radius:50%;
	-moz-border-radius: 50%;
	border-radius:50%;
	width:120px;
	height:120px;
}
.roundedImageShadow{
	-moz-box-shadow: 0px 0px 10px #343434;
	-webkit-box-shadow: 0px 0px 10px #343434;
	-o-box-shadow: 0px 0px 10px #343434;
	box-shadow: 0px 0px 10px #343434;
}